.shop-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.products-container {
  margin: 5%;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
}
.cart-container {
  background-color: rgb(226, 186, 148);
  padding: 0 4%;
}

@media screen and (max-width: 900px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .products-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
